/* 全局样式变量 */
$afa-primary: #165DFF;
$afa-success: #00B42A;
$afa-warning: #FF7D00;
$afa-danger: #F53F3F;
$afa-text: #1D2129;
$afa-text-secondary: #86909C;
$afa-text-placeholder: #C9CDD4;
$afa-border: #E5E6EB;
$afa-bg: #F5F6F7;
$afa-white: #FFFFFF;
